<!DOCTYPE html>

<html>
    <head lang="ru">
        <meta charset="UTF-8">
        <title>У всех: {% block title_block %}Базовый шаблон{% endblock %}</title>
    </head>
    <body>
        <h1>Меню</h1>
        <ul>
            <li><a href="/meetings/">Мероприятия</a></li>
            <li><a href="/places/">Площадки</a></li>
            <li><a href="/news/">Новости</a></li>
            <li><a href="/members/">Участники</a></li>
            <li><a href="/referees/">Жюри</a></li>
            <li><a href="/teams/">Команды</a></li>
            <li><a href="/staff/">Организаторы</a></li>            
        </ul>
        <br/>
        {% block body_block %}
        Базовый шаблон
        {% endblock %}
    </body>
</html>