{% extends 'base.html' %}

{% load staticfiles %}

{% block title_block %}
    Весь стафф
{% endblock %}

{% block header_min_height %}15em{% endblock %}
{% block header_height %}auto{% endblock %}
{% block header_content %}
<h1 class="mx-auto my-0 text-uppercase" style="padding-top: 1em">
    Организаторы
</h1>
{% endblock %}

{% block body_block %}
<section id="about" class="about-section text-center" style="padding-top: 0rem">
      <div class="container">
        <div class="card-columns" style="padding-top: 3rem; opacity: 0.9">
          {% for c in obj %}
          <div class="card">
            {% if c.photo %}
            <img class="card-img-top" src="{{c.photo.url}}"/>
            {% endif %}
            <div class="card-body" style="margin-bottom: 0px">
              <div class="card-title">
                <h5>
                  <a href="{% url 'staff' c.slug %}">
                    {{ c.name }}
                  </a>
                </h5>
              </div>
              <p class="card-text" style="margin-bottom: 0px">

                {% if c.info %}
                {{ c.info }}
                {% endif %}
              </p>
            </div>
            {% if c.link %}
            <div class="card-footer">
              <small class="text-muted">
                  <a href="{{ c.link }}">{{ c.link }}</a>
              </small>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>

      </div>
    </section>
{% endblock %}