{% extends 'base.html' %}

{% load staticfiles %}

{% block title_block %}
    Все площадки
{% endblock %}

{% block header_image %}{%static 'img/bg-signup.jpg'%}{% endblock %}
{% block header_min_height %}15em{% endblock %}
{% block header_height %}auto{% endblock %}
{% block header_content %}
<h1 class="mx-auto my-0 text-uppercase" style="padding-top: 1em">
    Площадки
</h1>
{% endblock %}

{% block body_block %}
    {% for c in obj %}
    <div>
        <a href="{% url 'place' c.slug %}">{{ c.title }}</a>
        {% if c.photo %}
            <img src="{{c.photo.url}}" />
        {% endif %}
        {% if c.address %}
            {{ c.address }}
        {% endif %}
        {% if c.city %}
            {{ c.city }}
        {% endif %}
        {% if c.info %}
            {{ c.info }}
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}