{% extends 'base.html' %}

{% load staticfiles %}

{% block title_block %}
    Все команды
{% endblock %}

{% block header_min_height %}15em{% endblock %}
{% block header_height %}auto{% endblock %}
{% block header_content %}
<h1 class="mx-auto my-0 text-uppercase" style="padding-top: 1em">
    Команды
</h1>
{% endblock %}

{% block body_block %}
    {% for c in obj %}
    <div>
        <a href="{% url 'team' c.slug %}">{{ c.title }}</a>
        {% for meeting in c.meetings.all %}
            <b>{{meeting.title}} </b>
        {% endfor %}
        <br/>
        {% if c.photo %}
            <img src="{{c.photo.url}}" />
        {% endif %}
        {% if c.info %}
            {{ c.info }}
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}