{% extends 'base.html' %}

{% block title_block %}
    Новость
{% endblock %}

{% block body_block %}
    <div>
        {{ obj.title }}
        {% for place in obj.places.all %}
            <b>{{place.title}} </b>
        {% endfor %}
        {{ obj.date }}
        {% if obj.photo %}
            <img src="{{obj.photo.url}}" />
        {% endif %}
        {% if obj.info %}
            {{ obj.info }}
        {% endif %}
        {% if obj.post %}
            {{obj.post | safe}}
        {% endif %}
    </div>
{% endblock %}