{% extends 'base.html' %}

{% block title_block %}
    Площадка
{% endblock %}

{% block body_block %}
    <div>
        {{ obj.title }}
        {% if obj.photo %}
            <img src="{{obj.photo.url}}" />
        {% endif %}
        {% if obj.address %}
            {{ obj.address }}
        {% endif %}
        {% if obj.city %}
            {{ obj.city }}
        {% endif %}
        {% if obj.info %}
            {{ obj.info }}
        {% endif %}
        {% if obj.post %}
            {{ obj.post | safe}}
        {% endif %}
    </div>
{% endblock %}