{% extends 'base.html' %}

{% block title_block %}
    Участник
{% endblock %}

{% block body_block %}
    <div>
        {{ obj.title }}
        {% for meeting in obj.meetings.all %}
            <b>{{meeting.title}} </b>
        {% endfor %}
        <br/>
        {% if obj.photo %}
            <img src="{{obj.photo.url}}" />
        {% endif %}
        {% if obj.info %}
            {{ obj.info }}
        {% endif %}
        {% if obj.post %}
            {{ obj.post | safe}}
        {% endif %}
        Участники:
        <ul>
            {% for member in members %}
            <li><a href="{% url 'member' member.slug %}">{{member.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}