{% extends 'base.html' %}

{% block title_block %}
    Участник
{% endblock %}

{% block body_block %}
    <div>
        <a href="{% url 'team' c.slug %}">{{ obj.name }}</a>
        {% for meeting in obj.meetings.all %}
            <b>{{meeting.title}} </b>
        {% endfor %}
        <br/>
        {% if obj.photo %}
            <img src="{{obj.photo.url}}" />
        {% endif %}
        {% if obj.info %}
            {{ obj.info }}
        {% endif %}
        {% if obj.post %}
            {{ obj.post | safe}}
        {% endif %}
    </div>
{% endblock %}