{% extends 'base.html' %}

{% block title_block %}
    {{obj.title}}
{% endblock %}

{% block header_min_height %}0em{% endblock %}
{% block header_height %}auto{% endblock %}

{% block body_block %}
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row no-gutters mb-4 mb-lg-5">
          <div class="col-xl-5 col-lg-6">
            {% if obj.photo %}
              <img class="img-fluid mb-3 mb-lg-0" src="{{obj.photo.url}}"/>
            {% endif %}
          </div>
            
          <div class="col-xl-7 col-lg-6 pl-5 pr-5">
            <div class="featured-text text-center text-white-50">
              <h2 class="text-white mb-4">{{obj.title}}</h2>
              <p class="text-white-50">
                {% if obj.info %}
                  {{ obj.info }}
                {% endif %}
              </p>
              <p class="text-white-50 align-text-bottom">
                {% for member in members %}
                    {% for proff in member.professions.all %}
                    <b>{{ proff.title }}</b> 
                    {% endfor %} -  
                    <a href="{% url 'member' member.slug %}">{{member.name}}</a>
                    <br/>
                {% endfor %}
        
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class = "container" style="padding-top: 5rem; padding-bottom: 5rem">
        {% if obj.post %}
            {{ obj.post | safe}}
        {% endif %}
    </div>

{% endblock %}

